form{
  width: 30%;
  margin: 0 auto;
}

legend{
  border: 1px solid black;
  margin-left: 70px;
}
.user-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 200px;
  margin: 0 auto;
}
.inner-user-container{
  display: flex;
  flex-direction: column;
}
.role-container{
  display: flex;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
.role-inner-container{
  display: flex;
  flex-direction: column;

}
select, #date{
  color: white;
  width: 90px;
  margin: 0px 10px 0px 0px;
}
.language-container{
  display: flex;
  justify-content: center;
}
p{
  margin: 0;
  font-size: 10px;
}
.lang-container{
  text-align: center;
}
.comments-container{
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
}
.checkbox-container{
  display: flex;
  font-size: 10px;
  width: 200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.button{
  text-align: center;
}
.button > button {
  width: 75px;
  height: 20px;
  background-color: white;
  border: 0.75px solid black;
}
